<div class="container">
  <mat-toolbar>
    <span>Скринер акций</span>
  </mat-toolbar>
  <div class="table-container">
    <div class="inner-table">
      <mat-toolbar style="background: #424242">
        <mat-form-field appearance="fill" class="header-sort">
          <mat-label>Select an option</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="header-sort">
          <mat-label>Select an option</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="header-sort">
          <mat-label>Select an option</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-toolbar>

      <table mat-table [dataSource]="dataSource?.content" matSort (matSortChange)="sortData($event)"
             [matSortDirection]="filterParams?.direction" [matSortActive]="filterParams?.sort">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="symbol"> symbol</th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="country"> country</th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <ng-container matColumnDef="sector">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="sector"> sector</th>
          <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
        </ng-container>
        <ng-container matColumnDef="industry">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="industry"> industry</th>
          <td mat-cell *matCellDef="let element"> {{element.industry}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="dataSource?.totalElements"
                     [pageSize]="filterParams?.count"
                     [pageIndex]="filterParams?.page"
                     [pageSizeOptions]="[5, 10, 25, 100,200,300,400,500,600,700,800,900,1000]" (page)="onPage($event)">
      </mat-paginator>
    </div>
    <div class="right-container"></div>
    <div class="right-container-fixed">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, adipisci aspernatur aut ex fuga in
        molestiae odio omnis possimus provident, quisquam quos saepe sint suscipit voluptate voluptates. Dicta,
        vitae!</p>
    </div>
  </div>
</div>
