<div class="container">
  <mat-toolbar color="primary">
    <span>Stock screener</span>
  </mat-toolbar>
  <div class="table-container">
    <div class="inner-table">
      <iframe src="http://localhost:80/w/ticker" frameborder="0" style="width: 62vw"></iframe>
      <mat-toolbar color="primary" style="margin-top: 10px">
        <mat-form-field appearance="fill" class="header-sort">
          <mat-label>Country</mat-label>
          <mat-select [(value)]="filterParams.country" (valueChange)="startFilter()">
            <mat-option [value]="'all'">None</mat-option>
            <mat-option *ngFor="let one of country" [value]="one.name">{{one.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="header-sort">
          <mat-label>industry</mat-label>
          <mat-select [(value)]="filterParams.industry" (valueChange)="startFilter()">
            <mat-option [value]="'all'">None</mat-option>
            <mat-option *ngFor="let one of industries" [value]="one.name">{{one.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="header-sort">
          <mat-label>sector</mat-label>
          <mat-select [(value)]="filterParams.sector" (valueChange)="startFilter()">
            <mat-option [value]="'all'">None</mat-option>
            <mat-option *ngFor="let one of sector" [value]="one.name">{{one.name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-toolbar>

      <table mat-table [dataSource]="dataSource?.content" matSort (matSortChange)="sortData($event)"
             [matSortDirection]="filterParams?.direction" [matSortActive]="filterParams?.sort">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="symbol"> symbol</th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="country"> country</th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <ng-container matColumnDef="sector">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="sector"> sector</th>
          <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
        </ng-container>
        <ng-container matColumnDef="industry">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="industry"> industry</th>
          <td mat-cell *matCellDef="let element"> {{element.industry}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="dataSource?.totalElements"
                     [pageSize]="filterParams?.count"
                     [pageIndex]="filterParams?.page"
                     [pageSizeOptions]="[5, 10, 25, 100,200,300,400,500,600,700,800,900,1000]" (page)="onPage($event)">
      </mat-paginator>
    </div>
    <div class="right-container"></div>
    <div class="right-container-fixed">
      <iframe src="http://localhost:80/w/market-overview" frameborder="0" style="width: 62vw;height: calc(100vh - 64px)"></iframe>
    </div>
  </div>
</div>
