<mat-toolbar color="primary">
  <span>Stock screener</span>
  <span class="spacer"></span>
  <span class="pointer" routerLink="/screener" [routerLinkActive]="'active'">main</span>
  <span class="pointer margin-left-15px" routerLink="/widget-forex-cross-rates" [routerLinkActive]="'active'">widget-forex-cross-rates</span>
  <span class="margin-left-15px pointer" routerLink="/crypto-mkt-screener" [routerLinkActive]="'active'">crypto-mkt-screener</span>
</mat-toolbar>
<iframe src="http://localhost:80/w/widget-forex-cross-rates" frameborder="0" style="width: 100vw;height: calc(100vh - 68px)"></iframe>
