<mat-toolbar color="primary">
  <span>Stock screener</span>
  <span class="spacer"></span>
  <span class="pointer" routerLink="/screener" [routerLinkActive]="'active'">Main</span>
  <span class="pointer margin-left-15px" routerLink="/widget-forex-cross-rates" [routerLinkActive]="'active'">Currency market</span>
  <span class="margin-left-15px pointer" routerLink="/crypto-mkt-screener" [routerLinkActive]="'active'">Cryptocurrency market</span>
</mat-toolbar>
<iframe src="http://localhost:80/w/crypto-mkt-screener" frameborder="0" style="width: 100vw;height: calc(100vh - 68px)"></iframe>
