<mat-toolbar color="primary">
  <span>Stock ticker: {{stock?.symbol}}</span>
  <span>Stock name: {{stock?.name}}</span>
  <span>Exchange: {{stock?.stockExchange}}</span>
  <span>Currency: {{stock?.currency}}</span>
</mat-toolbar>
<div class="container">
<div id="technical-analysis"></div>
<table>
  <tr>
    <th colspan="19" class="mat-toolbar mat-primary">Stock Quotes</th>
  </tr>
  <tr>
    <td class="border">Ask</td>
    <td class="border">Ask size</td>
    <td class="border">Bid</td>
    <td class="border">Bid size</td>
    <td class="border">Price</td>
    <td class="border">Last trade time</td>
    <td class="border">Open</td>
    <td class="border">Previous close</td>
    <td class="border">Day low</td>
    <td class="border">Day high</td>
    <td class="border">Year low</td>
    <td class="border">Year high</td>
    <td class="border">Price average 50 days</td>
    <td class="border">Price average 200 days</td>
    <td class="border">Volume</td>
    <td class="border">Average volume</td>

  </tr>
  <tr>
    <td class="border">{{stock?.quote?.ask}}</td>
    <td class="border">{{stock?.quote?.askSize}}</td>
    <td class="border">{{stock?.quote?.bid}}</td>
    <td class="border">{{stock?.quote?.bidSize}}</td>
    <td class="border">{{stock?.quote?.price}}</td>
    <td class="border">{{stock?.quote?.lastTradeTime|date}} {{stock?.quote?.lastTradeTime|time}}</td>
    <td class="border">{{stock?.quote?.open}}</td>
    <td class="border">{{stock?.quote?.previousClose}}</td>
    <td class="border">{{stock?.quote?.dayLow}}</td>
    <td class="border">{{stock?.quote?.dayHigh}}</td>
    <td class="border">{{stock?.quote?.yearLow}}</td>
    <td class="border">{{stock?.quote?.yearHigh}}</td>
    <td class="border">{{stock?.quote?.priceAvg50}}</td>
    <td class="border">{{stock?.quote?.priceAvg200}}</td>
    <td class="border">{{stock?.quote?.volume}}</td>
    <td class="border">{{stock?.quote?.avgVolume}}</td>
  </tr>
</table>
<table>
  <tr>
    <th colspan="18" class="mat-toolbar mat-primary">Stock Stats</th>
  </tr>
  <tr>
    <td class="border">Market capitalization</td>
    <td class="border">Shared outstanding</td>
    <td class="border">EPS</td>
    <td class="border">PE</td>
    <td class="border">EPS estimate current year</td>
    <td class="border">PB</td>
    <td class="border">Book value per share</td>
    <td class="border">Earnings announcement</td>
  </tr>
  <tr>
    <td class="border">{{stock?.stats?.marketCap}}</td>
    <td class="border">{{stock?.stats?.sharesOutstanding}}</td>
    <td class="border">{{stock?.stats?.eps}}</td>
    <td class="border">{{stock?.stats?.pe}}</td>
    <td class="border">{{stock?.stats?.epsEstimateCurrentYear}}</td>
    <td class="border">{{stock?.stats?.priceBook}}</td>
    <td class="border">{{stock?.stats?.bookValuePerShare}}</td>
    <td class="border">{{stock?.stats?.earningsAnnouncement|date}} {{stock?.stats?.earningsAnnouncement|time}}</td>
  </tr>
</table>
<table>
  <tr>
    <th colspan="7" class="mat-toolbar mat-primary">Stock dividends</th>
  </tr>
  <tr>
    <td class="border">Pay date</td>
    <td class="border">Annual yield</td>
    <td class="border">Annual yield percent</td>
  </tr>
  <tr>
    <td class="border">{{stock?.dividend?.payDate|date}} {{stock?.dividend?.payDate|time}}</td>
    <td class="border">{{stock?.dividend?.annualYield}}</td>
    <td class="border">{{stock?.dividend?.annualYieldPercent}}</td>
  </tr>
</table>
</div>
